body {
  background-color: #fdfdfd;
  color: #222;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 1.6em;
  padding: 0 20px;
  text-rendering: optimizeLegibility;
}

nav {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0 auto
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav ul li {
  padding: 0 0 0 1.5em;
}
.nav-link {
  font-size: 15px;
  color: #0984e3;
  font-family: sans-serif;
  text-decoration: none;
}
.nav-link.active {
  color: #787f90;
}
.brand-link {
  margin: 0 2em 0 0;
}
.brand-link img {
  max-width: 60px;
}

.main-section {
  padding: 2em 0;
}
.main-section__wrapper {
  max-width: 620px;
  margin: 0 auto;
}
.main-section h1 {
  font-family: sans-serif;
  font-size: 1.333em;
  font-weight: bolder;
  padding: 0 0 .5em;
  margin: 0;
}
.main-section h3 {
  font-family: sans-serif;
  font-size: 15px;
  color: #787f90;
  padding: 0 0 0.25em;
  margin: 0;
  line-height: 1.3em;
  font-weight: 400;
}
.main-section__body {
  padding: 2em 0 0 0;
}

.summary {
  padding: 1em 0 2em;
}
.summary p {
  color: #8894a5;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.6em;
}

.hero p {
  font-size: 1.333em;
  font-family: sans-serif;
}

.blog {
  padding: 6em 0 12em;
}
.blog__list {
  list-style: none;
}
.blog__list-item {
  padding: 1.3333em 0;
  margin: 0;
  border-top: 1px solid #E7D9C5;
  border-bottom: 1px solid #E7D9C5;
}
.blog__list-item:last-child {
  border-top: none;
}
.blog__wrapper {
  max-width: 620px;
  margin: 0 auto;
}

.blog-post-snippet {
  padding: 0;
  margin: 0;
}
.blog-post-snippet__link {
  text-decoration: none;
  font-family: sans-serif;
  color: #D63031;
  font-size: 1em;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
.blog-post-snippet__date {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.blog__post img {
  max-width: 100%;
}

footer {
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid #E7D9C5;
  background-color: #fdfdfd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__link {
  text-decoration: none;
  font-size: 14px;
  color: #0984e3;
  font-family: sans-serif;
  text-decoration: none;
}
