/* --- Universal --- */
h1 {
  font-family: sans-serif;
  font-size: 1.333em;
  font-weight: bolder;
  padding: 0 0 .5em;
  margin: 0;
  line-height: .9em;
}
h3 {
  font-family: sans-serif;
  padding: 0 0 .5em;
  margin: 0;
  font-size: .85em;
  font-weight: bolder;
  text-transform: uppercase;
}
h5 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: .035em;
  font-weight: 500;
}
p {
  padding: 0 0 1.2em;
  margin: 0;
}
body {
  background-color: #131a22;
  color: #e7e7ea;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 1.6em;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}
.subtitle {
  font-size: 1.2em;
  color: #8894a5;
  padding: 0;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.subtle-text-link {
  text-decoration: none;
  color: #8894a5;
  border-bottom: 1px solid #8894a57a;
}
.subtle-text-link:hover {
  color: #e7e7ea;
  transition: .5s; 
}
.text-link {
  color: #fff;
  border-bottom: 1px solid #8894a57a;
  text-decoration: none;
}
.text-link:hover {
  transition: .5s; 
}
/* --- Navigation --- */
nav {
  padding: 2em 0;
}
.nav__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  padding: 0 0 0 2em;
}
.nav__link {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
}
.nav__link.active {
  color: #8894a5;
}
.brand-link img {
  width: 75px;
}
.brand-link img:hover {
  opacity: .4;
}
/* --- Homepage --- */
.homepage-newHero {
  text-align: center;
}
.homepage-newHero__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.homepage-newHero h1 {
  color: #fff;
  font-size: 2.3333em;
  padding: 0 0 .25em;
  margin: 0;
  letter-spacing: .05em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.homepage-hero {
  padding: 2em 0 2em;
  text-align: center;
}
.homepage-hero__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.homepage-hero__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 450px;
}
.homepage-hero__row__leftCol {
  flex-basis: 27%;
  background-image: url('assets/hero-leftCol.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
  border-radius: 5px;
}
.homepage-hero__row__rightCol {
  flex-basis: 27%;
  background-image: url('assets/hero-rightCol.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
  border-radius: 5px;
}
.homepage-hero__row__middleCol {
  flex-basis: 40%;
  padding: 0 20px;
}
.homepage-hero h1 {
  color: #fff;
  font-size: 3em;
  padding: 0 0 .35em;
  margin: 0;
  letter-spacing: .05em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}
.homepage-hero__description {
  text-align: justify;
  color: #8894a5;
}
.homepage-hero__divider {
  height: 1em;
  display: block;
}
.secondRow__wrapper {
  border-bottom: 1px solid #000;
}
.secondRow h5 {
  color: #8894a5;
  padding: 0 0 1em;
}
.secondRow__mainCol {
  flex-basis: 50%;
  padding: 2em;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.secondRow__contactCol {
  flex-basis: 20%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondRow__lastCol {
  flex-basis: 30%;
  padding: 2em;
}
.secondRow__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}
.contact-row {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em;
  color: #8894a5;
}
.contact-row__leftCol {
  padding: 0;
  text-align: left;
}
.contact-row__label {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.contact-row p {
  padding: 0;
}
.homepage-portfolio {
  padding: 2em 0 6em;
}
.homepage-portfolio h3 {
  font-size: 1.563em;
  color: #fff;
  text-transform: none;
  padding: 2em 0 .25em;
}
.homepage-portfolio p {
  color: rgba(34, 34, 34, 0.8);
  max-width: 250px;
}
.homepage-portfolio__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-portfolio__card {
  border-radius: 4px;
  background-color: #fff;
  padding: 2em;
  margin: 0 0 3em;
  flex-grow: 1;
  margin: 0 2em;
  text-decoration: none;
  -webkit-box-shadow: -2px 12px 39px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 12px 39px -14px rgba(0,0,0,0.75);
  box-shadow: -2px 12px 39px -14px rgba(0,0,0,0.75);
}
.homepage-portfolio__card:hover {
  opacity: .75;
  box-shadow: none;
}
.homepage-portfolio__card__ap {
  background-color: #31393F;
}
.homepage-portfolio__card__nd {
  background-color: #512BD3;
}
.homepage-portfolio__card__nd p {
  color: #CDC3EF;
}
.homepage-portfolio__card__ap p {
  color: #D8D8D8;
}
.homepage-portfolio__card__brl h3 {
  color: #222;
}
.homepage-portfolio__ap-logo {
  height: 48px;
  border-radius: 6px;
}
.homepage-portfolio__logo {
  height: 35px;
  border-radius: 6px;
}

@media screen and (max-width: 1100px){

}
@media screen and (max-width: 820px){

}
@media screen and (max-width: 650px){

}
/* --- About --- */
.about-main {
  padding: 4em 0;
}
.about-main__wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}
/* --- Portfolio --- */
.newspaper {
  display: flex;
  flex-direction: row;
}
.newspaper__main {
  flex-basis: 33%;
  border-right: 1px solid #000;
}
/* --- Blog --- */
.blog {
  padding: 3em 0;
}
.blog__list {
  list-style: none;
}
.blog-posts__list-item {
  padding: 1.3333em 0;
  margin: 0;
  border-top: 1px solid #404b58;
}
.blog-posts__list-item:last-child {
  border-bottom: 1px solid #404b58;
}
.blog__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.blog-posts {
  padding: 3em 0;
}
.blog-posts__list {
  list-style: none;
}
.blog-posts__wrapper {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}
.blog-post-snippet {
  padding: 0;
  margin: 0;
}
.blog-post-snippet__link {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 1em;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
.blog-post-snippet__date {
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #8894a5;
}
.blog__post {
  max-width: 620px;
  margin: 0 auto;
}
/* --- Lightbox --- */
#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
  display: inline-block;
  text-align: center;
  height: 100%;
  overflow: auto;
  margin: 15px 0;
}

.lightbox-content img {
  max-width: 100%;
  max-height: 100%;
}
