/* --- Universal --- */
body {
  background-color: #F8F6F5;
  color: #222;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.441em;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -.025em;
}
h3 {
  font-family: 'Alegreya Sans', sans-serif;
  padding: 1.25em 0 .75em;
  margin: 0;
  font-size: 1.777em;
  font-weight: 700;
}
h4 {
  font-size: 1.563em;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  line-height: 1.2em;
}
h5 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: .25px;
  font-weight: 500;
}
p {
  padding: 0 0 1.1em;
  margin: 0;
}
p:first-of-type {
  padding-top: 0;
}
ol {
  margin: 0;
  padding-bottom: 1.1em;
}
ul {
  padding-bottom: 1.777em;
  margin: 0;
}
ul li:last-child {
  padding-bottom: 0;
}
li {
  line-height: 1.7em;
  padding: 0 0 .5em;
}
.label {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #8894a5;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  font-style: normal;
  font-size: 17px;
}
.subtitle {
  font-size: .9em;
  color: #8894a5;
  padding: 0;
  font-weight: 500;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 1.2em;
}
.subtle-text-link {
  text-decoration: none;
  color: #8894a5;
  border-bottom: 1px solid #8894a57a;
}
.subtle-text-link:hover {
  color: #e7e7ea;
  transition: .5s; 
}
.color-link {
  color: #0652DD;
  border-bottom: 1px solid rgba(136, 148, 165,.4);
  text-decoration: none;
  transition: .5s; 
}
.color-link:hover {
  opacity: .5;
}
.text-link {
  color: #0652DD;
  border-bottom: 1px solid rgba(136, 148, 165,.4);
  text-decoration: none;
  transition: .5s; 
}
.text-link:hover {
  opacity: .5;
}
.portfolio-link {
  color: #0652DD;
  transition: .5s; 
  border-bottom: 1px solid rgba(136, 148, 165,.4);
  text-decoration: none;
}
.portfolio-link:hover {
  opacity: .5;
}
.primary-btn {
  padding: .5rem 1.1rem;
  transition: .2s;
  white-space: nowrap;
  color: #222;
  border: 1px solid #EAE2DE;
  border-radius: .5em;
  text-decoration: none !important;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  -moz-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  font-family: 'Alegreya Sans SC', sans-serif;
}
.primary-btn:hover {
  opacity: .75;
}
.secondary-btn {
  padding: .5rem 1.1rem;
  transition: .2s;
  white-space: nowrap;
  color: #222;
  border: 1px solid #EAE2DE;
  border-radius: .5em;
  text-decoration: none !important;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  -moz-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  font-family: 'Alegreya Sans SC', sans-serif;
}
.secondary-btn:hover {
  opacity: .75;
  background-color: #F0F0F0;
}
.secondary-btn img {
  width: 20px;
  padding: 0 .35em 0 0;
}
.portfolio-btn {
  padding: .5rem 1.1rem;
  margin: .5em 0 2em;
  transition: .2s;
  white-space: nowrap;
  color: #222;
  border: 1px solid #0f8e74;
  border-radius: .5em;
  text-decoration: none !important;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  background-color: #16a085;
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  -moz-box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  box-shadow: 0px 2px 15px 0px rgba(26,29,33,0.13);
  font-family: 'Alegreya Sans SC', sans-serif;
}
.portfolio-btn:hover {
  box-shadow: none;
  opacity: .75;
}
/* --- Navigation --- */
nav {
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  width: 100%;
  background: rgba(248, 246, 245, 0.7);
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 99;
}
.nav__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__brand {
  display: flex;
}
.nav__brand img {
  width: 60px;
}
.nav__brand:hover {
  opacity: .5;
}
nav .text-link {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0 0 0 1em;
}

@media screen and (max-width: 820px) {
  nav {
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .nav__brand img {
    width: 50px;
  }
}
/* --- Homepage --- */
.home-main {
  margin-top: 64px;
  padding: 2em 0;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.55em;
  font-size: 1em;
}
.home-main__wrapper {
  padding: 0 20px;
  max-width: 600px;
  margin: 0 auto;
}
.home-main h1 {
  padding: 0 0 .5em;
  font-size: 2em;
}
.home-main h5 {
  color: #8894a5;
  padding: 0 0 .5em;
}
.about {
  padding: 0 0 2em;
}
.about-design {
  padding: 0 0 2em;
}
.about-design__showcase {
  background-image: url(assets/sketch-chatbot.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  padding: 2em;
  border-radius: 6px;
  border: 1.5px solid #EAE2DE;
}
.about-design__showcase p {
  max-width: 80%;
}
.name {
  padding: 0 0 1em;
}
.name h1 {
  font-size: 1.953em;
}
.status {
  display: flex;
  align-items: center;
  margin: 0 0 2em;
}
.status__rightCol {
  padding: 0 0 0 1em;
  line-height: 1.3em;
}
.status__headshot {
  width: 50px;
}
.status__name {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.status .text-link {
  color: #8894a5;
}
.secondRow {
  padding-top: 2em;
  border-top: 1px solid #dedcd9;
}
.secondRow h5 {
  color: #8894a5;
}
.secondRow__mainCol {
  flex-basis: 50%;
  padding: 2em;
  
  
}
.secondRow__lastCol {
  flex-basis: 30%;
  padding: 2em;
}
.secondRow__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}
.contact-row {
  display: flex;
  flex-direction: row;
  padding: 0 0 .75em;
  color: #8894a5;
}
.contact-row:last-of-type {
  padding-bottom: 0;
}
.contact-row__leftCol {
  padding: 0;
  flex-basis: 15%;
}
.contact-row__rightCol {
  flex-basis: 85%;
}
.contact-row__label {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: .25px;
  font-weight: 500;
}
.contact-row__value {
  padding: 0;
  color: #222;
}
.home-blog {
  padding-top: 4em;
}
@media screen and (max-width: 1100px){

}
@media screen and (max-width: 820px){
  .home-main {
    margin-left: 0;
    padding: 0;
  }
  .name h1 {
    font-size: 1.333em;
    padding: 0 0 1em;
  }
  h3 {
    font-size: 1.333em;
  }
  .secondRow__wrapper {
    flex-direction: column-reverse;
  }
  .secondRow__mainCol {
    padding: 1em 0;
    border-right: none;
    border-left: none;
  }
  .secondRow__contactCol {
    padding: 1em 0;
  }
  .secondRow__lastCol {
    padding: 1em 0;
  }
  .homepage-portfolio__wrapper {
    flex-direction: column;
  }
  .homepage-portfolio__card {
    margin: 0 0 2em;
  }
  .contact-row__leftCol {
    flex-basis: 25%;
    padding-right: 1em;
  }
  .contact-row:first-of-type {
    padding: 0 0 1em;
  }
  .contact-row__leftCol {
    padding: 0 0 .15em;
  }
}
@media screen and (max-width: 650px){
  .about-design__showcase {
    background-position: 80%;
    height: auto;
  }
}
/* --- About --- */
.about-main {
  padding: 4em 0;
  margin-top: 60px;
}
.about-main__wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}
.about-main__headshot {
  width: 250px;
  float: left;
  margin: 0 2em 0 0;
  border-radius: 6px;
}
@media screen and (max-width: 650px){
  .about-main__headshot {
    width: 150px;
  }
}
/* --- Portfolio --- */
.newspaper {
  display: flex;
  flex-direction: row;
}
.newspaper__main {
  flex-basis: 33%;
  border-right: 1px solid #000;
}
/* --- Blog --- */
.table-of-contents {
  position: absolute;
  top: 0;
  left: 20px;
}
.sticky {
  position: sticky;
  top: 83.24px;
  padding: 0 20px;
  z-index: 1;
}
.table-of-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
.table-of-contents li {
  max-width: 14em;
  line-height: 1.4em;
}
.table-of-contents a {
  color: #555;
  text-decoration: none;
}
.table-of-contents__label {
  font-size: 1em !important;
  font-weight: 500 !important;
  padding: 0 0 1em !important;
  color: #8894a5;
}
.table-of-contents__indented-item {
  margin-left: 1.5em;
}
.title {
  text-align: center;
  padding: 0 0 4em;
}
.blog {
  margin-top: 60px;
  padding: 6em 0;
}
.blog-post {
  
}
.blog-post__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.blog-post__leftCol {
  flex-basis: 25%;
}
.blog-post__rightCol {
  flex-basis: 65%;
  padding: 0 20px;
}
.blog-post__title {
  padding: 6em 20px 8em;
  text-align: center;
  margin-top: 64px;
}
.blog-post__title h1 {
  padding: 0 0 .25em;
}
.blog-post__title h3 {
  font-size: 1.333em;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  color: #5E6B7D;
  line-height: 1.4em;
  max-width: 860px;
}
.blog h4 {
  padding: .75em 0;
}
.blog h5 {
  font-size: 1.333em;
  padding: .5em 0 .25em;
  font-weight: 600;
}
.blog__showcase-image {
  width: 100%;
}
.blog__title-row {
  padding: 0 0 .5em;
}
.blog__badge-link {
  padding: .75em 0 0;
  text-decoration: none;
  display: inline-block;
}
.blog__badge-link:hover {
  opacity: .7;
}
.blog__badge-link p {
  color: #fdcb6e;
  line-height: 1.2em;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: .025em;
  padding: 0;
  margin: 0;
}
.blog__date, .blog__author {
  color: #8894a5;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 0;
  font-weight: 500;
  margin: 0;
  font-size: 1em;
  letter-spacing: .025em;
}
.blog__author {
  padding: 0 0 6em;
}
.blog__list {
  list-style: none;
}
.blog-posts__list-item {
  padding: 0 0 .5em;
  margin: 0;
}
.blog-posts__list-item:first-child {
  padding-top: 0;
}
.blog__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.blog-posts {
  padding: 6em 0;
}
.blog-posts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-posts__wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}
.blog-post-snippet {
  padding: 0;
  margin: 0;
}
.blog-post-snippet__link {
  text-decoration: none;
  color: #0652DD;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  border-bottom: 1px solid #8894a57a;
}
.blog-post-snippet__link:hover {
  opacity: .6;
}
.blog__post {
  max-width: 760px;
  margin: 0 auto;
}
.blog__symbol {
  font-size: 3em;
  position: absolute;
  top: 12px;
  left: 0;
  color: #8894a5;
}
.blog__quote {
  padding: 0 2em 2em;
  margin: 0;
  position: relative;
  font-size: 1.2em;
  line-height: 1.6em;
}
.blog__quote-text {
  font-family: monospace;
  padding: 0 0 .5em;
}
.blog__quote .text-link {
  color: #8894a5;
}
.blog__showcase-image {
  max-width: 100%;
}
.blog__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.portfolio-cta {
  max-width: 620px;
  margin: 2em auto 0;
  padding: 2em;
  text-align: center;
  font-family: sans-serif;
  background-color: #31393F;
  border-radius: 8px;
  border: 1px solid #000;
}
.portfolio-cta__main-text {
  color: #fff;
}
.setup__title {

}
.setup__date {
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.follow {
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 6px;
}
.example-message {
  background-color: #fff;
  margin: 0 0 1em;
  border-radius: 4px;
  border: 1px solid #DDDDE8;
}
.example-message__primary {
  display: flex;
  flex-direction: row;
  padding: 1.25em 2em .25em;
}
.example-message__secondary {
  padding: .25em 2em;
  border-top: 1px solid #DDDDE8;
  text-align: right;
}
.example-message__secondary {
  background-color: #F8F6F5;
}
.example-message__secondary a {
  font-size: 15px;
  font-family: 'Alegreya Sans', sans-serif;
}
.example-message p {
  padding: 0 0 1em;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.4em;
}
.example-message__label {
  font-size: 1em;
  color: #8894a5;
  padding: 0;
  font-weight: 600;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif !important;
  line-height: 1.2em;
}
.example-message__leftCol {
  flex-basis: 25%;
}
.example-message__rightCol {
  flex-basis: 75%;
}
@media screen and (max-width: 820px) {
  .blog {
    padding: 4em 0;
  }
  .blog-post__title {
    padding: 4em 20px;
  }
  .blog-post__title h1 {
    font-size: 2em;
  }
  .blog-post__title h3 {
    font-size: 1.1em;
  }
  .blog-post__wrapper {
    flex-direction: column;
  }
  .blog-post__leftCol {
    padding: 0 0 4em;
  }
  .table-of-contents {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
  }
  .sticky {
    position: relative;
    top: 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 650px) {
  .title h1 {
    font-size: 2em;
  }
  .blog__header {
    flex-direction: column-reverse;
  }
  .blog__quote {
    line-height: 1.4em;
    padding-right: 0;
  }
  .status {
    padding: 1em 0 2em;
    margin: 0;
  }
  .portfolio-cta {
    padding: 1.5em;
  }
  .portfolio-cta__main-text {
    font-size: 15px;
    line-height: 1.6em;
  }
  .blog {
    padding-top: 1em;
  }
}
/* --- Showcase + Lightbox --- */
.showcase {
 padding: 8em 0;
 background-color: #ccc;
 position: relative;
}
.showcase__wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.showcase__list {
  color: #222;
  list-style: none;
  padding: 0;
  margin: 0;
}
.showcase__list li {
  padding: 0 0 .75em;
}
.showcase__leftCol {
  flex-basis: 35%;
}
.showcase__rightCol {
  flex-basis: 57%;
}
.showcase__caption {
  position: absolute;
  padding: 1em;
  top: 0;
  color: #505e71 !important;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1em;
  letter-spacing: .025em;
}
.lightbox-trigger__caption {
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 0;
  font-size: 15px;
  color: #505e71 !important;
  line-height: 1.5em;
}
.showcase__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
}
.showcase__col {
  flex-basis: 28%;
}
.showcase .text-link {
  color: #222;
}
#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.lightbox-content {
  display: inline-block;
  text-align: center;
  height: 100%;
  overflow: auto;
  margin: 15px 0;
}
.lightbox-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}
.lightbox__caption  {
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 1em 0 0;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-size: 15px;
  color: #fff !important;
}
.lightbox-trigger {
  text-decoration: none;
  transition: opacity .5s;
}
.lightbox-trigger:hover {
  opacity: .5;
}
.lightbox-trigger img {
  max-width: 100%;
  border-radius: 6px;
  -webkit-box-shadow: -2px 12px 39px -14px rgba(107,107,107,0.75);
  -moz-box-shadow: -2px 12px 39px -14px rgba(107,107,107,0.75);
  box-shadow: -2px 12px 39px -14px rgba(107,107,107,0.75);
}
.lightbox-trigger:active img {
  box-shadow: none;
}
@media screen and (max-width: 820px) {
  .showcase {
    padding: 4em 0;
  }
  .showcase__wrapper {
    flex-direction: column;
  }
  .showcase__row {
    flex-direction: column;
    padding-top: 1.5em;
  }
  .showcase__col {
    margin-bottom: 1.5em;
  }
  .showcase__col:last-child {
    margin-bottom: 0;
  }
}
/* --- Footer --- */
footer {
  padding: 6em 0;
}
.footer__wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;

}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__col {
  flex-basis: 27%;
}
footer p {
  padding: 0;
}
@media screen and (max-width: 650px){
  .footer__row {
    flex-direction: column;
  }
  .footer__col {
    padding: 0 0 1.5em;
  }
}
