/* Base styles */
body {
  margin: 0;
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #fafafa;
  background-color: #222424;
}
a {
  color: #fafafa;
  transition: color 0.2s ease;
  text-decoration-color: #b1b0b0;
  text-underline-offset: 3px;
}
a:hover {
  color: #c2bfbf;
}
h1 {
  font-weight: 400;
  letter-spacing: 0.02em;
  font-weight: bolder;
  line-height: 1.25;
  font-size: 2.5em;
}
h2 {
  color: #707070;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25;
}
h3 {
  color: #707070;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  line-height: 1.25;
}
time {
  font-size: 0.85em;
  color: #707070;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 620px;
  margin: 0 auto;
  padding: 2em 0 0 0;
}
.header-logo {
  max-width: 75px;
  display: inline-block;
}
.header-logo img {
  max-width: 100%;
  height: auto;
}
.site-header nav {
  display: flex;
  gap: 1.5em;
}
.site-header nav a {
  text-decoration: none;
  font-size: 1em;
}
main {
  padding: 4em 0;
  max-width: 620px;
  margin: 0 auto;
}
main h1 {
  padding: 0;
  margin: 0;
}
main h2 {
  padding: 0;
  margin: 0;
}
main section {
  padding: 1.5em 0 0 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #454747;
  padding: 1em 0 4em 0;
  max-width: 620px;
  margin: 0 auto;
}
footer p {
  padding: 0 0 1.25em 0;
  margin: 0;
}
.footer__copyright {
  font-size: 0.85em;
  color: #707070;
}
.logo-link {
  max-width: 75px;
  display: inline-block;
}
.logo-link img {
  max-width: 100%;
  height: auto;
}
.minimal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.minimal-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75em 0;
  border-bottom: 1px solid #454747;
}
.minimal-list li:last-child {
  border-bottom: none;
}
.minimal-list h4 {
  padding: 0;
  margin: 0;
}
.minimal-list p {
  padding: 0;
  margin: 0;
}
.minimal-list__title {
  display: flex;
  flex-direction: column;
}
.minimal-list__employer {
  font-size: 0.85em;
  color: #707070;
}
@media (max-width: 620px) {
  .site-header {
    padding: 1.5em 0 0 0;
  }
  main h2 {
    max-width: 300px;
  }
  footer {
    flex-direction: column;
  }
  .footer__rightColumn {
    margin-top: 1em;
  }
}
