<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>2023 Review | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    {% include 'header.html' %}
    <main>
      <div class="main__wrapper">
        <div class="blog">
          <div class="blog__wrapper">
            <div class="blog__post">
              <h5>
                December 2022
              </h5>
              <p>
                2023 goals:
              </p>
              <ol>
                <li>
                  <span style="text-decoration: line-through;">Quit my job</span> and launch a new startup.
                </li>
                <li>
                  <span style="text-decoration: line-through;">Build a home</span>.
                </li>
                <li>
                  <span style="text-decoration: line-through;">Improve my French</span>.
                </li>
                <li>
                  Draw a self-portrait.
                </li>
                <li>
                  <span style="text-decoration: line-through;">Learn to ride a motorcycle</span>.
                </li>
              </ol>
              <p>
                I quit my job in June. I was working for NetDocuments and although I genuienly liked the people I was working with and the work was interesting, I felt I had to move on. I desperately wanted to get back to statup life and apply all the lessons I've learned since doing it last. 
              </p>
              <p>
                Nothing is easy, but I underappreciated how hard it would be to start something new while working alone and remote. 
              </p>
              <p>
                AI played a huge role in my life this year. Primarily as a tutor. I feel as if I've 10x my software development skills just by asking ChatGPT to explain why my code isn't working.
              </p>
              <p>
                I'm lucky that I can live at my parent's house while my home is under construction. My home should be ready by early February 2024.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>