<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>You should build an AI chatbot | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include 'showcase-header.html' %}
  <div class="body__wrapper">
    <main>
      <div class="main__wrapper">
        <div class="blog-post">
          <div class="blog-post__title">
            <h5>
              June 2022
            </h5>
            <h1>
              You should build an AI chatbot
            </h1>
            <h3>
              The same basic mechanics that underlie every AI chatbot, and that you can learn in minutes (this post will show you how), can be used to launch a 1,000 new startups. All that's missing is a unique perspective, which is where you come in.
            </h3>
          </div>
          <div class="blog-post__wrapper">
            <div class="blog-post__leftCol">
              <div class="table-of-contents" id="toc">
                <h5 class="table-of-contents__label">
                  on this page
                </h5>
                <ul>
                  <li class="table-of-contents__item"><a href="#what-is-aichatbot">What is an AI chatbot?</a></li>
                  <li class="table-of-contents__item"><a href="#chatbot-mechanics">AI chatbot mechanics</a></li>
                  <li class="table-of-contents__item"><a href="#what-should-you-build">What kind of AI chatbot should you build?</a></li>
                  <li class="table-of-contents__indented-item"><a href="#law-students">For law students</a></li>
                  <li class="table-of-contents__indented-item"><a href="#product-designers">For product designers</a></li>
                  <li class="table-of-contents__item"><a href="#no-code">Build a chatbot in 1 minute using no-code tools</a></li>
                  <li class="table-of-contents__item"><a href="#actual-code">Build a chatbot in 30 minutes using actual code</a></li>
                  <li class="table-of-contents__item"><a href="#troubleshoot">How to troubleshoot any situation</a></li>
                </ul>
              </div>
            </div>
            <div class="blog-post__rightCol">
              <p>
                I wrote this article for anyone who's curious about AI but specifically for law students and product designers at the start of their career. 
              </p>
              <p>
                tl;dr: To create a game-changing AI chatbot, all you need is a dataset that serves a niche community you have insight into. The low-code way to build this chatbot is <a href="https://zapier.com/ai/chatbot" class="color-link" target="_blank">Zapier</a>, but even if you have no technical background you can get an actual code chatbot up and running by forking <a href="https://replit.com/@ThomasOfficer/Langchain-OpenAI-Python-Flask-app?v=1" class="color-link" target="_blank">this Replit project</a> and following the instructions in <a href="https://www.loom.com/share/b2475900a1d94fe7a756fddbc884ee0b?sid=24f6fd43-be88-459e-a0f2-a7e330260068" class="color-link" target="_blank">this video</a>. 
              </p>
              <h3 id="what-is-aichatbot">
                What is an AI chatbot?
              </h3>
              <p>
                You've likely used a chatbot and, honestly, probably didn't enjoy the experience. Chatbots have been around for almost as long as computers, but an AI chatbot feels like an entirely new thing.
              </p>
              <p>
                An AI chatbot generates human-like responses based on natural language inputs. The chatbot can be restricted to a specific dataset, resulting in situations where it says "I don't know", or unrestricted and allowed to generate responses to any question you ask of it (occasionally resulting in inaccurate statements known as hallucinations).
              </p>
              <p>
                If you haven't yet, I highly encourage you to try products like <a href="https://chat.openai.com/auth/login" class="color-link" target="_blank">ChatGPT</a> and <a href="https://claude.ai/login" class="color-link" target="_blank">Claude</a> to get a feel for what it's like to interact with software using "natural language inputs", i.e. what it's like to talk to an app.
              </p>
              <p>
                The broader implications of enhancing a chatbot with an LLM are profound, but I'm a practical person and this is a practical guide so we'll just concern ourselves with the immediate effect: you can now talk to any book, codex, or collection of data. You can ask these things to explain themselves to you as if you were a five year old. You can type or use your voice. You can receive answers as text or spoken word. You can describe your situation and ask the chatbot "what should I do?"
              </p>
              <h3 id="chatbot-mechanics">
                AI chatbot mechanics
              </h3>
              <p>
                The type of AI chatbot we're going to explore includes the following working parts:
              </p>
              <ul>
                <li>
                  Large language model (LLM): A machine learning algorith used to generate human-like text based on the input it receives. Magic as far as we're concerned, and available for a reasonable fee from companies like OpenAI (gpt-4) or Anthropic (claude), or for free from a growing open-source movement.
                </li>
                <li>
                  Dataset: The subject matter the LLM will restrain itself to when generating responses.
                </li>
                <li>
                  Prompt: You can think of the LLM has a wildly powerful autocomplete where text goes in and text comes out. The text that goes in is the prompt. The prompt can include nothing more than the user's input, but typically also includes instructions on how the AI should respond.
                </li>
                <li>
                  Chat interface: This is the frontend of our chatbot, which is essentially just an SMS text user interface.
                </li>
              </ul>
              <h3 id="what-should-you-build">
                What kind of AI chatbot should you build?
              </h3>
              <p>
                You should build something minimal that is still useful (AKA a minimum viable product). But in my experience, it's very difficult to jump straight to thinking about the kinds of problems a technology can solve; it's easier if you start with a firm understanding of the mechanics. After you understand the basic mechanics, you can enter a state of play with the technology and this is the optimal state from which to innovate. 
              </p>
              <p>
                Once you're comfortable playing with the mechanics of an AI chatbot, I have some ideas on the types of issues you might tackle:
              </p>
              <h4 id="law-students">
                For law students
              </h4>
              <p>
                There is a lot of work to be done in making legal services more accessible. Your chatbot could contribute to that effort by simply wrapping some obscure but useful set of rules in a LLM.
              </p>
              <p>
                The first challenge to building this kind of AI chatbot is assembling the dataset. Do you scrape government websites? Upload PDFs? Could you partner with accomplished authors to use their books/articles/videos/podcast interviews as the underlying dataset? 
              </p>
              <p>
                The second challenge is framing/marketing your chatbot so that your target audience understands exactly what this bot can and can't do. Your chatbot should have a narrowly defined purpose. This will make it easier for your audience to find it, and it allows you to focus on providing deep value which is better to have than broad/shallow value. 
              </p>
              <h4 id="product-designers">
                For product designers
              </h4>
              <p>
                ChatGPT launched late November, 2022, and introduced AI chatbots to a million people (1 million users signed up in the company's first 5 days, breaking the record for fastest-growing user base). ChatGPT's user interface is largely unchanged from its launch 9 months ago, a simple text field with some hints about the type of things you could type into it:
              </p>
              <img src="../assets/aichat-gpt1.png" class="blog__showcase-image" alt="Screenshot of ChatGPT gpt-4 Aug 2023">
              <p>
                Is this the best user interface? Maybe it's the best for a general-purpose, "ask me anything" style chatbot, but what about one that is ultra focused? Maybe the best user interface depends on the unique attributes of the underlying use-case, and maybe it looks nothing like a traditional chatbot?
              </p>
              <blockquote class="twitter-tweet"><p lang="en" dir="ltr">LLMs exploded so quickly on the market that we skipped the tooling and philosophy phase of new technologies<br><br>The internet took 7 years from WWW to 100M users. Enough time to iterate on open standards, web design, user experience, accessibility, and cybersecurity before mass…</p>&mdash; Greg Kamradt (@GregKamradt) <a href="https://twitter.com/GregKamradt/status/1696524344086888676?ref_src=twsrc%5Etfw">August 29, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p>
                It doesn't take much to make a meaningful contribution to this new field of expertise.
              </p>
              <h3 id="no-code">
                Build a chatbot in 1 minute using no-code tools
              </h3>
              <p>
                So-called "no-code" tools are a wonderful thing. They make it easy for anyone, regardless of technical ability, to build software products. The most commonly known type of no-code tool is a website builder like SquareSpace, Wix, or (imo, this is the best no-code website builder, by far) Webflow. Other types of no-code tools include:
              </p>
              <ul>
                <li>
                  Database builders: Airtable, Google Sheets, Notion
                </li>
                <li>
                  Integration platforms (used to connect various web services, applications, or devices): Zapier, IFTTT, Pipedream, and Make.
                </li>
              </ul>
              <p>
                Zapier is what I recommend using if you want to build an AI chatbot in 1 minute.
              </p>
              <h5>
                setup
              </h5>
              <ol>
                <li>
                  Create a <a href="https://zapier.com/" class="color-link" target="_blank">Zapier</a> account;
                </li>
                <li>
                  Follow <a href="https://zapier.com/blog/create-custom-ai-chatbots-with-interfaces/" class="color-link" target="_blank">Zapier's instructions</a> for building an AI chatbot.
                </li>
              </ol>
              <p>
                You'll need a Premium Zapier Interfaces plan ($20/m) and a dataset that fits on a 1MB static file. The cost and limited functionality is what you exchange for speed and ease-of-use. The actual code solution, which I promise is doable for anyone, costs less than 50 cents per month.
              </p>
              <p>
                Before we jump to actual code, I have to point out that there are a number of people working on building a no-code tool just for building AI chatbots and services. I haven't explored these much but I encourage you to see what works (all these products are startups and they generally offer free trials as they try to find traction).
              </p>
              <h3 id="actual-code">
                Build a chatbot in 30 minutes using actual code
              </h3>
              <p>
                Modern software development tools are some of the best software products ever created; they're simple, powerful, and worth investing the time to learn. Now it's time to introduce my current favorite tool: <a href="https://replit.com/" class="color-link" target="_blank">Replit</a>. 
              </p>
              <p>
                Previously, if you wanted to start writing code, you'd have to first set up your computer (download a ton of stuff, configure it, etc...). Now, you can just create a free account on Replit and click 'Create Repl' to launch a new code project. Even better, you copy an existing Repl and edit it for your purpose. Which is exactly what we're going to do. 
              </p>
              <h5>
                setup
              </h5>
              <ol>
                <li>
                  <a href="https://openai.com/blog/openai-api" target="_blank" class="color-link">Sign up for an OpenAI API account</a> to get an API key. You'll have to add a payment method to get the API key and you'll be charged according to how often that key is used (OpenAI's gpt-3.5-turbo LLM is extremely affordable).
                </li>
                <li>
                  Fork <a href="https://replit.com/@ThomasOfficer/Langchain-OpenAI-Python-Flask-app?v=1" target="_blank" class="color-link">this Replit project</a>.
                </li>
                <li>
                  Follow this instructions in this video:
                  <div style="position: relative; padding-bottom: 62.5%; height: 0;"><iframe src="https://www.loom.com/embed/67ec042016b648818a573128c1af9940?sid=be5b33ab-6fdc-4c5d-a348-a2edc9a25e21" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                </li>
              </ol>
              <h3 id="troubleshoot">
                How to troubleshoot any situation
              </h3>
              <p>
                You will run into issues. Something will break and you will not know why. This is an inescapable part of building software. Thankfully, it's never been easier to dig yourself out of these holes because you have access to an infinitly patient tutor in the form of ChatGPT or Claude.
              </p>
              <p>
                Every instance where you get stuck is an opportunity to learn, not only how to solve the problem at hand but how to interact with an AI chatbot to get the most value from it. To troubleshoot with ChatGPT or Claude, make sure to provide as much context as possible. Trying copying and pasting the error message; try copying and pasting chunks of your code (or even your entire file). Ask the chatbot to rephrase its advice. Ask the chatbot to explain itself to you as if you were a 5 year old.
              </p>
              <p>
                I promise, with patience and consistent effort, there is nothing you can't build.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script>
    // Get all TOC items
    const tocItems = document.querySelectorAll('.toc-item');

    // Add click event listener to each TOC item
    tocItems.forEach(item => {
      item.addEventListener('click', function(event) {
        // Prevent default action
        event.preventDefault();

        // Get the target section ID from the clicked link
        const targetId = this.getAttribute('href').substring(1);

        // Scroll to the target section
        document.getElementById(targetId).scrollIntoView({ 
          behavior: 'smooth' 
        });
      });
    });

    // Code to make TOC sticky after scrolling
    const toc = document.getElementById('toc');
    const stickyStart = 332; // Scroll position at which TOC becomes sticky

    window.addEventListener('scroll', function() {
      if (window.pageYOffset >= stickyStart) {
        toc.classList.add('sticky');
      } else {
        toc.classList.remove('sticky');
      }
    });
  </script>
</body>

</html>