<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Real estate software idea | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    {% include 'header.html' %}
    <main>
      <div class="main__wrapper">
        <div class="blog">
          <div class="blog__wrapper">
            <div class="blog__post">
              <h5>
                July 2023
              </h5>
              <p>
                Either all at once or gradually over the past 50 years, we've entered the world of AI experiences.
              </p>
              <p>
                I've been playing around with some of these AI tools and I'm fascinated. Like many others, I've learned how to get more useful responses out of large language models. The trick is framing your question properly and providing enough context. If I'm asking, "why is my code not working?" my codebase is the necessary context. If I'm asking, "should I take this job?" the context includes the job listing, my work experience, professional goals, and on and on.
              </p>
              <p>
                I'm frustrated by the experience of manually providing my context to AI products like ChatGPT. Every time I want to have a productive AI conversation, I re-enter the paragraphs of information that define my context.
              </p>
              <p>
                I'm going to build something for this problem. Something with public services and small businesses in mind. Something that allows them to invite their audiences to provide whatever context is needed to deliver a useful AI experience. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>