<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Problems and ideas for startups | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="body__wrapper">
    <header>
      <p style="padding-bottom: 0;">
        Thomas F. Officer
      </p>
      <p style="padding-bottom: 0;">
        Software Designer & Developer
      </p>
      <div class="header__links">
        <ul>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/computer_2-2.png" alt="Computer Icon">
            <a href="/">Home</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/address_book_user.png" alt="Address Book User Icon">
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png" alt="Help Book Icon">
            <a href="/blog">Blog</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/msagent-2.png" alt="Msg Agent Icon">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png" alt="Notepad Icon">
            <a href="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main__wrapper">
        <div class="blog-post">
          <div class="blog-post__title">
            <h1>
              Problems and Ideas
            </h1>
            <h3>
              Problems I'm passionate about and some early-stage ideas on how to solve them. 
            </h3>
          </div>
          <div class="blog-post__wrapper">
            <div class="blog-post__leftCol">
              <div class="table-of-contents" id="toc">
                <h5 class="table-of-contents__label">
                  on this page
                </h5>
                <ul>
                  <li class="table-of-contents__item"><a href="#remote-work">Future of remote work</a></li>
                  <li class="table-of-contents__item"><a href="#upskilling">Upskilling after AI takes your job</a></li>
                  <li class="table-of-contents__item"><a href="#health-agency">Agency over healthcare</a></li>
                  <li class="table-of-contents__item"><a href="#real-estate">Real estate development</a></li>
                </ul>
              </div>
            </div>
            <div class="blog-post__rightCol">
              <div class="blog__header"> 
                <div class="status">
                  <div class="status__rightCol">
                    <p class="status__name">Thomas F. Officer</p>
                    <p class="subtitle">
                    product designer
                    </p>
                  </div>
                </div>
                <div>
                  <p class="blog__date">
                    October 2023
                  </p>
                </div>
              </div>
              <p>
                I'm looking for startup cofounders. To that end, I'm sharing this list of problems that I am passionate about, because the best way to find a good startup idea is to focus on a good problem. Ideas change, whereas the problem, if it's really worthwhile, will likely stay the same. But ideas are fun, so I've shared some of those too. 
              </p>
              <h3 id="remote-work">
                Future of remote work
              </h3>
              <p>
                The 2020 pandemic irreversibly forced us to adopt remote work. Physical work locations will continue to exist but they'll play a different role. There is lot of opportunity in reimagining what "going to work" looks like.
              </p>
              <h3 id="upskilling">
                Upskilling after AI takes your job
              </h3>
              <p>
                It used to take multiple generations for entire career tracks to disappear. Now, it takes a few years, and in the process whole swaths of people feel left behind. The rise of AI doesn't have to feel like career extinction - it can feel like a renaissance. Provided that someone steps in and helps people make this transition.
              </p>
              <h3 id="health-agency">
                Agency over healthcare
              </h3>
              <p>
                This may be a <a href="https://youtu.be/Th8JoIan4dg?si=lTv_wMPQetELdwZ1&t=193" class="text-link" target="_blank">tar pit idea</a>, but it does feel inevitable that patients, fueld by a desire to take control of their bodies, will manage their healthcare data. 
              </p>
              <h3 id="real-estate">
                Real estate development
              </h3>
              <p>
                I'm interested in doing anything to encourage more missing <a href="https://missingmiddlehousing.com/" class="text-link" target="_blank">middle housing</a> development.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script>
    // Get all TOC items
    const tocItems = document.querySelectorAll('.toc-item');

    // Add click event listener to each TOC item
    tocItems.forEach(item => {
      item.addEventListener('click', function(event) {
        // Prevent default action
        event.preventDefault();

        // Get the target section ID from the clicked link
        const targetId = this.getAttribute('href').substring(1);

        // Scroll to the target section
        document.getElementById(targetId).scrollIntoView({ 
          behavior: 'smooth' 
        });
      });
    });

    // Code to make TOC sticky after scrolling
    const toc = document.getElementById('toc');
    const stickyStart = 332; // Scroll position at which TOC becomes sticky

    window.addEventListener('scroll', function() {
      if (window.pageYOffset >= stickyStart) {
        toc.classList.add('sticky');
      } else {
        toc.classList.remove('sticky');
      }
    });
  </script>
</body>

</html>