/* --- Universal --- */
body {
  font-family: menlo, monospace;
  font-size: 12px;
  line-height: 1.4em;
}
p {
  padding: 0 0 1.333em;
  margin: 0;
}
ul {
  padding: 0 0 0 1em;
  margin: 0;
}
a {
  color: #0000EE;
}
.body__wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
}
.main__wrapper {
  max-width: 600px;
  padding: 4em 0;
}
/* --- Header --- */
.header__links ul {
  list-style: none;
  padding: .5em 0;
}
.header__links li {
  display: flex;
  align-items: center;
  padding: .15em 0;
}
.header__links img {
  width: 15px;
  padding: 0 .25em 0 0;
}
/* --- About --- */
.headshot {
  width: 200px;
  float: left;
  margin: 0 1.75em 1em 0;
  padding: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}
/* --- Contact --- */
.contact__row {
  display: flex;
  padding: .25em 0;
}
.contact__row p {
  padding: 0;
}
.contact__row:first-of-type {
  padding-top: 1em;
}
.contact__row__leftCol {
  flex-basis: 75px;
}
/* --- Portfolio --- */
.showcase img {
  max-width: 100%;
}
.blog img {
  max-width: 100%;
}