body {
  font-size: 15px;
  font-family: serif;

}
nav {
  padding: 2em 1em 0 0;
  left: auto;
  right: 1%;
  width: 20%;
  position: fixed;
  font-family: sans-serif;
}
nav h1 {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
nav p {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav h1:first-child {
  padding-top: 0;
}
nav h1 {
  padding: 2em 0 .25em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  padding: 0;
  margin: 0;
}
.main {
  width: 75%;
  padding: 0 0 0 6em;
}
.main .header {
  padding: 0 0 2em;
}
.main img {
  max-width: 20em;
}
.main p.title {
  font-size: 2.333em;
  font-family: sans-serif;
  padding: 1em 0 0;
  line-height: 1.3em;
  margin: 0;
}
.main .row {
  margin: 0;
}
.main .section {
  max-width: 22em;
  display: inline-block;
  padding: 0;
  margin: 0 4em 0 0;
}
.main .section h2 {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .09em;
}

@media (max-width: 767px) {
  nav {
    position: relative;
    width: 100%;

  }
}
