/** ----- UNIVERSAL ----- **/

body {
  font-family: 'Alegreya', serif;
  line-height: 1.45;
  font-weight: 100;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}
@media screen and (max-width: 650px) {
  body {

  }
}
/** ----- NAVBAR ----- **/

.navbar-container {
  width: 100%;
  background-color: #373D49;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
}
.navbar-left {
  margin-top: 16px;
  float: left;
  text-transform: uppercase;
}
.navbar-left a:hover {
  text-decoration: none;
}
.name {
  color: #bfbfbf;
  font-size: 1em;
}
.navbar-right {
  margin-top: 8px;
  float: right;
}
.navbar-list li {
  font-size: 1em;
  margin-top: 7px;
  display: inline-block;
  margin-left: 30px;
}
.navbar-list li:nth-child(2) {
  margin-right: 30px;
}
.navbar-list-link a {
  color: #ffffff;
  padding-bottom: 24px;
  padding-top: 24px;
  font-weight: 300;
}
.navbar-list-link a:hover {

}
.navbar-list-link a.active {

}
@media screen and (max-width: 650px) {
  .name {
    margin-left: 0px;
    font-size: 1em;
  }
  .navbar-right {
    margin-top: 3px;
    float: right;
  }
  .navbar-list li {
    margin-top: 14px;
    margin-left: 16px;
  }
  .navbar-list li:nth-child(2) {
    margin-right: 0px;
  }
  .navbar-list-link a.active {
    padding: 31px 8px 9px 8px;
  }
}
/** ----- SECTIONS ----- **/

section.portfolio_row {
  padding-top: 20px;
}
section.portfolio_row .row {
  padding-top: 75px;
}
.portfolio_row .col-md-5 {
  padding-right: 50px;
}
section.portfolio_row h1 {
  font-size: 1.999em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 0;
}
section.portfolio_row h2 {
  font-size: 1.414em;
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 0;
  text-transform: uppercase;
}
section.portfolio_row p {
  padding-bottom: 10px;
  font-size: 1.333em;
}
section.portfolio_row a {
  margin-bottom: 50px;
  color: #333;
  font-weight: 100;
  text-decoration: underline;
}
section.portfolio_row .btn {
  font-size: 1em;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #f16850;
  color: #ffffff;
  padding: 10px 30px;
  font-family: 'Alegreya Sans', sans-serif;
}
section.portfolio_row .btn:hover {
  background-color: #D95640;
}

@media screen and (max-width: 990px) {
  section.portfolio_row .row {
    padding-top: 20px;
  }
  section.portfolio_row img {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 650px) {
  section.portfolio_row {
    padding-top: 30px;
  }
  section.portfolio_row h1 {
    padding-bottom: 10px;
  }
  section.portfolio_row p {
  }

}
#portfolio_header  {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #DADFE1;
  color: #333;;

}
#portfolio_header h1 {
  font-size: 1.999em;
}
#portfolio_header p {
  font-size: 1.414em;
}

#startup_review {
}
#disco {
}
#berrill {
}
#foundationlab {
}
/** ----- ABOUT ----- **/

#about_paragraphs {
  max-width: 800px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#about_paragraphs h1 {
  padding-top: 25px;
  font-size: 1.999em;
font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}
#about_paragraphs h1:first-child {
  padding-top: 0px;
}
#about_paragraphs p {
  padding-top: 10px;
  font-size: 1.414em;
}
#final_about_paragraph {
  padding-bottom: 50px;
}
#about_paragraphs img {
  margin-top: 25px;
  border: none;
}
#about_paragraphs li {
  padding-top: 5px;
  font-size: 1.414em;
}
#about_paragraphs li:first-child {
  padding-top: 10px;
}
#about_paragraphs a {
  color: #333;
  text-decoration: underline;
}
@media screen and (max-width: 650px) {
  #about_paragraphs {
    margin-top: 25px;
  }
}
/** ----- STARTUPREVIEW ----- **/

#sr {
  background-color: rgba(8,50,125,0.8);
  color: #fbfbfb;
  padding-top: 5px;
  padding-bottom: 25px;
}
#sr_jumbo {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#sr h1 {
  font-size: 2.827em;
  font-family: 'Alegreya Sans', sans-serif;
}
#sr p {
  font-size: 1.414em;
  font-weight: 100;
}
#sr_paragraphs {
  max-width: 800px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#sr_paragraphs h1 {
  padding-top: 50px;
  font-size: 1.999em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}
#sr_paragraphs h1:first-child {

}
#sr_paragraphs p {
  padding-top: 10px;
  font-size: 1.414em;
}
#sr_paragraphs ul {
  font-size: 1.4em;
}
#final_sr_paragraph {
  padding-bottom: 50px;
}
#sr_paragraphs img {
  margin-top: 25px;
  margin-bottom: 25px;
}
#sr_paragraphs a {
  color: #333;
  text-decoration: underline;
}

#sr_h2 {
  margin-bottom: 0px;
  font-size: 1.999em;
  border-radius: 3px;
  padding-top: 40px;
  font-weight: bold;
  color: #a6a6a6;
}

@media screen and (max-width: 650px) {
  #sr_review {
    margin-top: 25px;
  }
}
/** ----- FOUNDATIONLAB ----- **/

#fl {
  background-color: #4DAF7C;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 25px;
}
#fl_jumbo {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#fl h1 {
  font-size: 2.827em;
  font-family: 'Alegreya Sans', sans-serif;
}
#fl p {
  font-size: 1.4em;
  font-weight: 100;
}
#fl_paragraphs {
  max-width: 800px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#fl_paragraphs h1 {
  padding-top: 25px;
  font-size: 1.999em;
  font-family: sans-serif;
  font-weight: bold;
}
#fl_paragraphs p {
  padding-top: 10px;
  font-size: 1.4em;
}
#fl_paragraphs .back {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}
#fl_paragraphs .back .btn {
  border-radius: 0;
  text-decoration: none;
  border: none;
  border: 1px solid #333;
  color: #333;
  padding: 10px 30px;
}
#final_fl_paragraph {
  padding-bottom: 50px;
}
#fl_paragraphs img {
  margin-top: 50px;
  margin-bottom: 25px;
}
#fl_paragraphs a {
  color: #333;
  text-decoration: underline;
}
@media screen and (max-width: 650px) {
  #fl_review {
    margin-top: 25px;
  }
}

/** ------ Berrill Farms -----**/
#bf {
  background-color: #34495E;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 25px;
}
#bf_jumbo {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#bf h1 {
  font-size: 2.827em;
  font-family: 'Alegreya Sans', sans-serif;
}
#bf p {
  font-size: 1.4em;
  font-weight: 100;
}
#bf_paragraphs {
  max-width: 800px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#bf_paragraphs h1 {
  padding-top: 25px;
  font-size: 1.999em;
  font-family: sans-serif;
  font-weight: bold;
}
#bf_paragraphs p {
  padding-top: 10px;
  font-size: 1.4em;
}
#bf_paragraphs .back {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}
#bf_paragraphs .back .btn {
  border-radius: 0;
  text-decoration: none;
  border: none;
  border: 1px solid #333;
  color: #333;
  padding: 10px 30px;
}
#final_bf_paragraph {
  padding-bottom: 50px;
}
#bf_paragraphs img {
  margin-top: 50px;
  margin-bottom: 25px;
}
#bf_paragraphs a {
  color: #333;
  text-decoration: underline;
}
@media screen and (max-width: 650px) {
  #bf_review {
    margin-top: 25px;
  }
}




/** ----- FOOTER ----- **/

footer {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #373D49;
  font-family: 'Alegreya Sans', sans-serif;
}
footer a {
  color: #ffffff;
  font-weight: 100;
  font-size: 1em;
}
footer a:hover {
  color: #ffffff;
}
footer ul {

  list-style: none;
  padding-left: 0;
}
footer li {

  display: inline;
  padding-left: 10px;
}
footer p {
  font-size: 1em;
  color: #ffffff;
  letter-spacing: .5px;
  text-align: right;
}
@media screen and (max-width: 990px) {
  footer {
    text-align: center;
  }
  footer p {
    text-align: center;
  }
}
