body {
  font-size: 17px;
}

.container {
  padding: 0 1em;
  max-width: 60em;
}

#navbar {
  background-color: #eee;
  box-shadow: 0px 2px 2px #E8E8E8;
  padding: 1em 0;
}

.logo-name {
  float: left;
}
.logo-name h1 {
  font-size: 1em;
  padding: 0 0 .25em;
  margin: 0;
}
.logo-name h2 {
  font-size: 1em;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.links {
  float: right;
}
.links ul {
  list-style: none;
  padding: .5em 0 0;
  margin: 0;
}
.links li {
  display: inline-block;
  padding: 0 0 0 .75em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

#hero {
  padding: 4em 0;
}

#hero h1 {
  font-size: 2.333em;
  line-height: 1.3em;
}

#home_body .col-sm-8 {
  padding: 0;
}

#home_body .col-sm-4 {
  padding: 0;
}

#home_body img {
  max-width: 150px;
}

#home_body h3 {
  padding: 0 0 1em;
  margin: 0;
  text-transform: uppercase;
  color: #8c8c8c;
  font-weight: 300;
}
