<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Afterpattern | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ url_for('static', filename='assets/tfo-favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <nav>
    <div class="nav__wrapper">
      <div class="nav__wrapper__leftCol">
        <a href="/" class="nav__title" style="color:#ccc;">
          <h3>
            Thomas<span>F.</span>Officer
          </h3>
          <p>
            Software Designer & Developer
          </p>
        </a>
      </div>
      <div class="nav__wrapper__rightCol">
        <!-- <ul>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/computer_2-2.png" alt="Computer Icon">
            <a href="/">Home</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/address_book_user.png" alt="Address Book User Icon">
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png" alt="Help Book Icon">
            <a href="/blog">Blog</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/msagent-2.png" alt="Msg Agent Icon">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png" alt="Notepad Icon">
            <a href="/portfolio">Portfolio</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">
      <h1>
        Afterpattern
      </h1>
      <p>
        No-code app builder for legal professionals
      </p>
      <p>
        Role: product designer
      </p>
      <p>
        When: 2016 - 2021
      </p>
    </div>
    <div class="portfolio-essay__body">
      <p>
        In 2017, as Fellows at the <a href="https://www.labs.robinhood.org/" target="_blank" class="text-link">Blue Ridge Labs tech incubator</a>, two insights were shaping our perspective on the consumer legal marketplace. First, it seemed universally agreed upon by modest means New Yorkers that “lawyers are for rich people.” Second, web apps like TurboTax and LegalZoom were offering quasi legal services at scale at affordable prices. 
      </p>
      <p>
        If LegalZoom extended its product offerings to include the types of services modest means New Yorkers need from an attorney, they’d make a killing and do some good. The problem is, LegalZoom isn’t a law firm. Their products can't provide legal advice, only legal information. They're great if you need to incorporate an LLC ($79) or create a basic will ($89), but you're not going to LegalZoom for your eviction case.
      </p>
      <p>
        What if the deep expertise of law firms could be merged with the efficiency of tech companies like LegalZoom? What if legal professionals could convert their expensive knowledge into affordable, accessible, and still personalized software products?
      </p>
      <p>
        What if there was a no-code app builder designed specifically for legal professionals?
      </p>
    </div>
  </section>
  <section class="portfolio-showcase">
    <a href="{{ url_for('static', filename='assets/ap-showcase-builder2021.png') }}" class="lightbox-trigger">
      <img src="{{ url_for('static', filename='assets/ap-showcase-builder2021.png') }}" alt="Afterpattern app builder 2021">
      <p class="caption">
        app builder 2021
      </p>
    </a>
    <div id="lightbox">
      <p class="lightbox__caption">Click to close</p>
      <div class="lightbox-content">
          <img id="lightbox-image" src="" alt="" />
      </div>
    </div>
    <div class="portfolio-showcase__row">
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-builder2018.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-builder2018.png') }}" alt="Afterpattern app builder 2018">
          <p class="lightbox-trigger__caption">
            app builder 2018
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-builder2019.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-builder2019.png') }}" alt="Afterpattern app builder 2019">
          <p class="lightbox-trigger__caption">
            app builder 2019
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-builder2020.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-builder2020.png') }}" alt="Afterpattern app builder 2020">
          <p class="lightbox-trigger__caption">
            app builder 2020
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">
      <p>
        The App Builder was the cornerstone of our multi-product suite of no-code tools.
      </p>
    </div>
    <div class="portfolio-essay__body">
      <p>
        We didn't start by building a no-code app builder. We started by observing tech-savvy, entrepreneurial, hacker-type lawyers. In 2017, these lawyers were using <a href="https://docassemble.org/" class="text-link" target="_blank">Docassemble</a>, an open-source expert system, to create apps that automated documents. That same year, we launched our first product, The Docassemble Toolkit, a developer tool for deploying and hosting Docassemble.
      </p>
      <p>
        By 2018, we had the confidence to launch our own no-code app builder, which was essentially a GUI on top of Docassemble.
      </p>
      <p>
        From 2019 - 2021, we dramatically expanded the feature functionality of our app builder, while relying primarily on frontend, UI enhancements to address usability issues.
      </p>
      <p>
        Before it was <a href="https://www.netdocuments.com/press-releases/netdocuments-inspires-productivity-with-acquisition-of-afterpattern-document-automation" class="text-link" target="_blank">acquired by NetDocuments</a> in November 2021, Afterpattern was the preferred app development tool for some of the most innovative legal professionals in the United States. These apps not only won national and regional awards, they helped more than 500,000 people access a wide range of traditionally expensive legal services. This included everything from keeping tenants in their home during the COVID pandemic to helping immigrants negotiate the Trump's administration's "Muslim travel ban."
      </p>
    </div>
  </section>
  <section class="portfolio-showcase">
    <a href="{{ url_for('static', filename='assets/ap-showcase-database.png') }}" class="lightbox-trigger">
      <img src="{{ url_for('static', filename='assets/ap-showcase-database.png') }}" alt="Project database">
      <p class="lightbox-trigger__caption">
        project database
      </p>
    </a>
    <div id="lightbox">
      <p class="lightbox__caption">Click to close</p>
      <div class="lightbox-content">
          <img id="lightbox-image" src="" alt="" />
      </div>
    </div>
    <div class="portfolio-showcase__row">
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-template.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-template.png') }}" alt="Document template editor">
          <p class="lightbox-trigger__caption">
            document template editor
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-app.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-app.png') }}" alt="App made in Afterpattern">
          <p class="lightbox-trigger__caption">
            user-made app
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-portal.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-portal.png') }}" alt="Client portal made in Afterpattern">
          <p class="lightbox-trigger__caption">
            user-made client portal
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">

    </div>
    <div class="portfolio-essay__body">
      <p>
        By 2021, Afterpattern offered a full suite of no-code development products, including:
      </p>
      <ul>
        <li>
          An airtable-like database that allows you to save, and more importantly re-use, the information collected by your apps.
        </li>
        <li>
          A document template editor that allows you to define precise rules for customizing the underlying document.
        </li>
        <li>
          The ability to use your database as the backend of a custom web portal that you can use to create protected client accounts for sharing and collecting information.
        </li>
      </ul>
      <p>
        One of our biggest challenges was that Afterpattern was a new category of product. We couldn't approach law firms and say "you know that thing you do all the time? We can help you do it faster/cheaper/easier." Our customers had never built legal apps before. Before we could train them how to do it, we had to convince them why they should.
      </p>
    </div>
  </section>
  <section class="portfolio-showcase">
    <a href="{{ url_for('static', filename='assets/ap-showcase-marketing.png') }}" class="lightbox-trigger">
      <img src="{{ url_for('static', filename='assets/ap-showcase-marketing.png') }}" alt="Project database">
      <p class="lightbox-trigger__caption">
        marketing materials
      </p>
    </a>
    <div id="lightbox">
      <p class="lightbox__caption">Click to close</p>
      <div class="lightbox-content">
          <img id="lightbox-image" src="" alt="" />
      </div>
    </div>
    <div class="portfolio-showcase__row">
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-lesson.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-lesson.png') }}" alt="Afterpattern University lesson 2021">
          <p class="lightbox-trigger__caption">
            lesson
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/ap-showcase-tutorial.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-tutorial.png') }}" alt="Afterpattern University tutorial 2021">
          <p class="lightbox-trigger__caption">
            tutorial
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="../assets/ap-showcase-featured.png" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/ap-showcase-featured.png') }}" alt="Community.lawyer app marketplace 2020">
          <p class="lightbox-trigger__caption">
            app marketplace
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">

    </div>
    <div class="portfolio-essay__body">
      <p>
        To break through beyond early-adopters, we needed to articulate a compelling vision for the future of legal services. We found traction in framing Afterpattern as the solution to the problem of the "missing middle" of the consumer legal market, i.e. why aren't everyday Americans buying legal services for the multiple legal issues they experience each year?
      </p>
      <p>
        Once we had a lawyer's attention, we had to teach them how to not only use our app builder but, perhaps more importantly, how to think like a software engineer and recognize how to break down a legal service into discrete parts that can be automated. This task was not simple, but it was in the creation of <a href="https://university.afterpattern.com/" class="text-link" target="_blank">Afterpattern University</a> where this challenge met its answer.
      </p>
      <p>
        I dedicated an immeasurable amount of time to the conception and development of Afterpattern University. It became not only a platform to provide the technical know-how, but also a stage to emphasize the potential benefits and capabilities of legal apps.
      </p>
      <p>
        Afterpattern helped introduce a groundbreaking concept to the legal industry: that lawyers are willing and able to transform their expertise into software applications. By breaking down barriers and innovating a completely new category, we offered a fresh perspective on what legal services could be. Our customers had never built legal apps before, and convincing them of this new approach was no small task. But through diligent effort, educational initiatives, and relentless perseverance, we bridged the gap between law firms and software efficiency.
      </p>
      <p>
         Today, as part of NetDocuments, Afterpattern continues to revolutionize legal services, maintaining its commitment to making the law understandable, affordable, and within reach for all.
      </p>
    </div>
  </section>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>