<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>NetDocuments | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ url_for('static', filename='assets/tfo-favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include 'navbar.html' %}
  {% include 'header.html' %}
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">
      <h1 style="font-size: 28px;">
        NetDocuments
      </h1>
      <p class="portfolio-essay__title__caption">
        Redesigning Afterpattern and introducing AI
      </p>
      <div class="portfolio-essay__title__label">
        <span>Role</span>
        <span>Product Designer</span>
      </div>
      <div class="portfolio-essay__title__label">
        <span>When</span>
        <span>2021 - 2023</span>
      </div>
    </div>
    <div class="portfolio-essay__body">
      <p>
        I joined NetDocuments in November 2021 when they acquired Afterpattern. Initially, my job was to incorporate Afterpattern's suite of no-code development tools into the company's document management system (you can think of NetDocuments as Dropbox for law firms).
      </p>
      <p>
        In the images below, you can see a glimpse of my work at NetDocuments, where I played a key role in integrating, and redesigning, the Afterpattern suite of no-code development tools, the most important of which was the no-code app builder.
      </p>
    </div>
  </section>
  <section class="portfolio-showcase">
    <a href="{{ url_for('static', filename='assets/nd-showcase-workflow1.png') }}" class="lightbox-trigger requires-password">
      <img src="{{ url_for('static', filename='assets/nd-showcase-workflow1.png') }}" class="requires-password" alt="Afterpattern app builder 2021">
      <p class="lightbox-trigger__caption">
        community.lawyer team 2016
      </p>
    </a>
    <div id="lightbox">
      <p class="lightbox__caption">Click to close</p>
      <div class="lightbox-content">
          <img id="lightbox-image" src="" alt="" />
      </div>
    </div>
    <div class="portfolio-showcase__row">
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-workflow2.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-workflow2.png') }}" alt="Afterpattern app builder 2018">
          <p class="lightbox-trigger__caption">
            Draft 1
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-workflow3.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-workflow3.png') }}" alt="Afterpattern app builder 2019">
          <p class="lightbox-trigger__caption">
            Draft 2
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-workflow4') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-workflow4.png') }}" alt="Afterpattern app builder 2020">
          <p class="lightbox-trigger__caption">
            Draft 3
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">

    </div>
    <div class="portfolio-essay__body">
      <p>
        10 months later, I was ready to take on a new project when seemingly out of nowhere ChatGPT comes out. The NetDocuments product team instantly recognized the opportunity of giving law firms the ability to run generative AI applications over their unique dataset: every document the firm has every produced.
      </p>
    </div>
  </section>
  <section class="portfolio-showcase">
    <a href="{{ url_for('static', filename='assets/nd-showcase-extraction.png') }}" class="lightbox-trigger">
      <img src="{{ url_for('static', filename='assets/nd-showcase-extraction.png') }}" alt="Afterpattern app builder 2021">
      <p class="lightbox-trigger__caption">
        Using AI to extract data from documents
      </p>
    </a>
    <div id="lightbox">
      <p class="lightbox__caption">Click to close</p>
      <div class="lightbox-content">
          <img id="lightbox-image" src="" alt="" />
      </div>
    </div>
    <div class="portfolio-showcase__row">
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-chat.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-chat.png') }}" alt="Afterpattern app builder 2018">
          <p class="lightbox-trigger__caption">
            Chat with your documents
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-draftdata.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-draftdata.png') }}" alt="Afterpattern app builder 2019">
          <p class="lightbox-trigger__caption">
            Modeling data extraction
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
      <div class="portfolio-showcase__col">
        <a href="{{ url_for('static', filename='assets/nd-showcase-docdetails.png') }}" class="lightbox-trigger">
          <img src="{{ url_for('static', filename='assets/nd-showcase-docdetails.png') }}" alt="Afterpattern app builder 2020">
          <p class="lightbox-trigger__caption">
            Document details
          </p>
        </a>
        <div id="lightbox">
          <p class="lightbox__caption">Click to close</p>
          <div class="lightbox-content">
              <img id="lightbox-image" src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio-essay">
    <div class="portfolio-essay__title">

    </div>
    <div class="portfolio-essay__body">
      
    </div>
  </section>
  <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
</body>
</html>