<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    {% include 'header.html' %}
    <main>
      <div class="main__wrapper">
        <img src="{{ url_for('static', filename='assets/thomas-headshot.png') }}" class="headshot" alt="Photo of Thomas Officer">
        <p>
          Seasoned tech entrepreneur with deep expertise in product design and frontend development, and a growing expertise in full-stack web development (focus in Python). 
        </p>
        <p>
          My career began after law school. I was the 7th hire at a tech company that only hired lawyers (the product was a quasi legal service so it was important for the company to be able to flip a switch and become a law firm in a moment's notice). This is where I was introduced to software and the business of software development. I discovered product design and knew, immediately, that this was the skill I wanted to be able to provide as a cofounder of my own software business.
        </p>
        <p>
          By 2016, 4 years out of law school, I'm accepted as a product design fellow at the Blue Ridge Labs @ Robin Hood incubator program. What follows is a 5 year journey of finding cofounders, launching a product, pivoting, digging for product market fit, finding it, and then selling the company. I served the team as our only designer, primary frontend developer, sales lead, branding, marketing, and customer support. 
        </p>
        <p>
          After the acquisition, for the next year and a half, I experienced working in a formal design team of a large tech company. This is where I am in late 2022 when ChatGPT comes out. I remember this feeling of tinkering with a new tool and the lightening bolt realization that this something I want to move towards. 
        </p>
        <p>
          Today, I'm a novice yet scrappy 1-person development team. I'm an efficient no-code developer, and clever product designer. I'm looking for the next mission to devote myself to.
        </p>
      </div>
    </main>
  </div>
</body>

</html>