<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  <div class="body__wrapper">
    <header>
      <p style="padding-bottom: 0;">
        Thomas F. Officer
      </p>
      <p style="padding-bottom: 0;">
        Software Designer & Developer
      </p>
      <div class="header__links">
        <ul>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/computer_2-2.png" alt="Computer Icon">
            <a href="/">Home</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/address_book_user.png" alt="Address Book User Icon">
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png" alt="Help Book Icon">
            <a href="/blog">Blog</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/msagent-2.png" alt="Msg Agent Icon">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png" alt="Notepad Icon">
            <a href="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main__wrapper">
        <img src="{{ url_for('static', filename='assets/thomas-headshot.png') }}" class="headshot" alt="Photo of Thomas Officer">
        <p>
          Seasoned tech entrepreneur with deep expertise in product design and frontend development, and a growing expertise in full-stack web development. 
        </p>
        <p>
          My career began after law school. I was the 7th hire at a tech company that only hired lawyers (the product was a quasi legal service so it was important for the company to be able to flip a switch and become a law firm in a moment's notice). This is where I was introduced to software and the business of software development. I discovered product design and knew, immediately, that this was the skill I wanted to be able to provide as a cofounder of my own software business.
        </p>
        <p>
          By 2016, 4 years out of law school, I'm accepted as a product design fellow at the Blue Ridge Labs @ Robin Hood incubator program. What follows is a 5 year journey of finding cofounders, launching a product, pivoting, digging for product market fit, finding it, and then selling the company. I served the team as our only designer, primary frontend developer, sales lead, branding, marketing, and customer support. 
        </p>
        <p>
          After the acquisition, for the next year and a half, I experienced working in a formal design team of a large tech company. This is where I am in late 2022 when ChatGPT comes out. I remember this feeling of tinkering with a new tool and the lightening bolt realization that this something I want to move towards. 
        </p>
        <p>
          Today, I'm a novice yet scrappy 1-person development team. I'm an efficient no-code developer, and clever product designer. I'm looking for the next mission to devote myself to.
        </p>
      </div>
    </main>
  </div>
</body>

</html>