<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Blog | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>

<body>
  <div class="home">
    <div class="home__Main-leftCol">
      <a href="/" class="home__brand">
        <img src="{{ url_for('static', filename='assets/tfo-brand-dark.svg') }}" alt="TFO logo">
      </a>
      <blockquote class="home__quote">
        Child: “The Major and the soldiers and Mycroft told me what war is like. They say it's the second worst thing in the world.”<br>
        Man: “That's an interesting definition. What did they say is the worst thing?”<br>
        Child: “Not having anything worth fighting for in the first place.”<br>
        — Too Like the Lightening, Ada Palmer
      </blockquote>
    </div>
    <div class="home__Main-rightCol">
      {% include 'navbar.html' %}
      <main>
        <div class="main__wrapper">
          <ul class="blog-posts__list">
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">December 2023</p>
                <a class="blog-post-snippet__link" href="/blog/2023-review">2023 Review</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">October 2023</p>
                <a class="blog-post-snippet__link" href="/blog/problems-and-ideas">Problems and ideas for software startups</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">July 2023</p>
                <a class="blog-post-snippet__link" href="/blog/aicontext">An AI startup idea</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">July 2022</p>
                <a class="blog-post-snippet__link" href="/blog/legal-apps">Legal Apps</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">June 2022</p>
                <a class="blog-post-snippet__link" href="/blog/system-message">System messages for GPT-4</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">June 2022</p>
                <a class="blog-post-snippet__link" href="/blog/ai-chatbot">You should build an AI chatbot</a>
              </div>
            </li>
            <li class="blog-posts__list-item">
              <div class="blog-post-snippet">
                <p class="blog-post-snippet__date">January 2022</p>
                <a class="blog-post-snippet__link" href="/blog/start-of-an-idea">Real estate software idea</a>
              </div>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</body>

</html>