<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Blog | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    <header>
      <div class="header__links">
        <ul>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/computer_2-2.png" alt="Computer Icon">
            <a href="/">Home</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/address_book_user.png" alt="Address Book User Icon">
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png" alt="Help Book Icon">
            <a href="/blog">Blog</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/msagent-2.png" alt="Msg Agent Icon">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png" alt="Notepad Icon">
            <a href="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main__wrapper">
        <ul class="blog-posts__list">
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/problems-and-ideas">Problems and ideas for software startups</a>
              <p class="blog-post-snippet__date">October 2023</p>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/aicontext">An AI startup idea</a>
              <p class="blog-post-snippet__date">July 2023</p>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/legal-apps">Legal Apps</a>
              <p class="blog-post-snippet__date">July 2022</p>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/system-message">System messages for GPT-4</a>
              <p class="blog-post-snippet__date">June 2022</p>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/ai-chatbot">You should build an AI chatbot</a>
              <p class="blog-post-snippet__date">June 2022</p>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/blog/start-of-an-idea">Real estate software idea</a>
              <p class="blog-post-snippet__date">January 2022</p>
            </div>
          </li>
        </ul>
      </div>
    </main>
  </div>
</body>

</html>