<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Real Estate Investment Calculator | Coleverage</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  <h1>Real Estate Investment Calculator</h1>
  <p>
    Generate and share back-of-the-napkin calculations for a property’s rehab, financing, and income expectations.
  </p>
  <form action="/submit_coleverage" method="post">
    <label for="acquisitionCost">Acquisition Cost:</label><br>
    <input type="number" id="acquisitionCost" name="acquisitionCost" required><br>

    <label for="squareFootage">Square Footage:</label><br>
    <input type="number" id="squareFootage" name="squareFootage" required><br>

    <label for="renovationAmount">Amount of Renovation Required:</label><br>
    <select id="renovationAmount" name="renovationAmount" required>
        <option value="minimal">Minimal</option>
        <option value="moderate">Moderate</option>
        <option value="total">Total</option>
    </select><br>

    <label for="renovationType">Type of Renovation:</label><br>
    <select id="renovationType" name="renovationType" required>
        <option value="singleFamily">Single Family Home</option>
        <option value="duplex">Duplex</option>
        <option value="multiPlex">Multi-Plex</option>
        <option value="liveWork">Live-Work</option>
    </select><br><br>

    <input type="submit" value="Submit">
  </form>
  <div>
    {{ dataframe_html|safe }}
  </div>
</body>
</html>