<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Contact | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    {% include 'header.html' %}
    <main>
      <div class="main__wrapper">
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              EMAIL
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="mailto:thomas.officer@gmail.com">thomas.officer@gmail.com</a>
              </p>
          </div>
        </div>
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              GITHUB
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="https://github.com/TomaOfficer" target="_blank">@TomaOfficer</a>
              </p>
          </div>
        </div>
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              LINKEDIN
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="https://www.linkedin.com/in/thomasofficer/" target="_blank">ThomasOfficer</a>
              </p>
          </div>
        </div>
        <p style="padding-top: 2em;">
          Follow me on X <a href="https://twitter.com/TomaOfficer" target="_blank">@TomaOfficer</a> for updates on my projects and random thoughts.
        </p>
      </div>
    </main>
  </div>
</body>

</html>