<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Contact | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
</head>
</head>

<body>
  <div class="body__wrapper">
    <header>
      <p style="padding-bottom: 0;">
        Thomas F. Officer
      </p>
      <p style="padding-bottom: 0;">
        Software Designer & Developer
      </p>
      <div class="header__links">
        <ul>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/computer_2-2.png" alt="Computer Icon">
            <a href="/">Home</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/address_book_user.png" alt="Address Book User Icon">
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png" alt="Help Book Icon">
            <a href="/blog">Blog</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/msagent-2.png" alt="Msg Agent Icon">
            <a href="/contact">Contact</a>
          </li>
          <li>
            <img src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png" alt="Notepad Icon">
            <a href="/portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main__wrapper">
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              EMAIL
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="mailto:thomas.officer@gmail.com">thomas.officer@gmail.com</a>
              </p>
          </div>
        </div>
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              GITHUB
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="https://github.com/TomaOfficer" target="_blank">@TomaOfficer</a>
              </p>
          </div>
        </div>
        <div class="contact__row">
          <div class="contact__row__leftCol">
            <p>
              LINKEDIN
            </p>
          </div>
          <div class="contact__row__rightCol">
            <p>
              <p>
                <a href="https://www.linkedin.com/in/thomasofficer/" target="_blank">ThomasOfficer</a>
              </p>
          </div>
        </div>
        <p style="padding-top: 2em;">
          Follow me on X <a href="https://twitter.com/TomaOfficer" target="_blank">@TomaOfficer</a> for updates on my projects and random thoughts.
        </p>
      </div>
    </main>
  </div>
</body>

</html>