<header>
  <div class="header__links">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/portfolio">Design Portfolio</a>
      </li>
      <li>
        <a href="/calculator">Real Estate Calculator</a>
      </li>
      <li>
        <a href="https://drive.google.com/file/d/1rUXVhpszcuqx0Y2KuVfv7wUjuW_JDyCb/view?usp=sharing" target="_blank">Resume <i class="fa fa-external-link"></i>        </a>
      </li>
    </ul>
  </div>
</header>