<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Thomas F. Officer | Portfolio</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/tfo-favicon.ico') }}"
      type="image/x-icon"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="body__wrapper">
      <main>
        <div class="index__wrapper">
          <!-- <img
            src="{{ url_for('static', filename='assets/tfo-headshot-2-2024.png') }}"
            class="headshot"
            alt="Photo of Thomas Officer"
          /> -->
          <p>
            I'm a designer and AI native software developer with 10 years experience working in various roles for various startups. I'm currently working on something new which, as of Summer 2024, is taking the shape of an AI voice journal. I've dedicated 2024 to building something, anything, with AI.
          </p>
          <p>
            I've had the great priviledge of a wandering career. I studied religion in college and went to law school in Scotland. I discovered tech entrepreneurship when I was 25 and spent years transitioning from lawyer to UX designer and then front-end developer.
          </p>
          <p>
            The pivotal moment of my career was joining the Blue Ridge Labs @ Robin Hood tech incubator as a Design Fellow in 2016. This is where I met my cofounders who I would work with for the next 5 years. We built Afterpattern, a no-code automation builder for lawyers. Afterpattern was acquired by NetDocuments in 2021.
          </p>
          <p>
            I worked at NetDocuments as a Product Designer for 18 months. About 2 months into this period, ChatGPT came out. The introduction of the consumer-friendly large language model feels like the most important technological advancement of my lifetime, second only to the internet. 
          </p>
          <p>
            I left my wonderful team at NetDocuments in the summer of 2023. Since then, I've been tinkering on a handful of AI software projects. I love the feeling of learning and building. 
          </p>
          <div class="contact__row">
            <div class="contact__row__leftCol">
              <p>Email</p>
            </div>
            <div class="contact__row__rightCol">
              <p style="color: #585874;">
                thomas.officer@gmail.com
              </p>
            </div>
          </div>
          <div class="contact__row">
            <div class="contact__row__leftCol">
              <p>Github</p>
            </div>
            <div class="contact__row__rightCol">
              <p>
                <a href="https://github.com/TomaOfficer" target="_blank"
                  >@TomaOfficer</a
                >
              </p>
            </div>
          </div>
          <div class="contact__row">
            <div class="contact__row__leftCol">
              <p>Linkedin</p>
            </div>
            <div class="contact__row__rightCol">
              <p>
                <a
                  href="https://www.linkedin.com/in/thomasofficer/"
                  target="_blank"
                  >ThomasOfficer</a
                >
              </p>
            </div>
          </div>
          <div class="contact__row">
            <div class="contact__row__leftCol">
              <p>x</p>
            </div>
            <div class="contact__row__rightCol">
              <p>
                <a href="https://x.com/TomaOfficer" target="_blank"
                  >@TomaOfficer</i></a
                >
              </p>
            </div>
          </div>
          <div class="contact__row">
            <div class="contact__row__leftCol">
              <p>Replit</p>
            </div>
            <div class="contact__row__rightCol">
              <p>
                <a
                  href="https://replit.com/@ThomasOfficer"
                  target="_blank"
                  >@ThomasOfficer</a
                >
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
