<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Thomas F. Officer | Portfolio</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/tfo-favicon.ico') }}"
      type="image/x-icon"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>

  <body>
    <div class="home">
      <div class="home__Main-leftCol">
        <img src="{{ url_for('static', filename='assets/tfo-brand-dark.svg') }}" alt="TFO logo" class="home__logo">
        <blockquote class="home__quote">
          Child: “The Major and the soldiers and Mycroft told me what war is like. They say it's the second worst thing in the world.”<br>
          Man: “That's an interesting definition. What did they say is the worst thing?”<br>
          Child: “Not having anything worth fighting for in the first place.”<br>
          — Too Like the Lightening, Ada Palmer
        </blockquote>
      </div>
      <div class="home__Main-rightCol">
        {% include 'navbar.html' %}
        <div class="home__Inner-body">
          <div class="home__Inner-body__leftCol">
            <h1>
              Thomas F. Officer
            </h1>
            <h3>
              Product Designer + Frontend Engineer
            </h3>
          </div>
          <div class="home__Inner-body__rightCol">
            <p>
              I'm a designer with 10 years experience working in various roles for various startups. I'm currently working on something new which, as of June 2024, is taking the shape of an AI-enhanced, voice-based journal. I've dedicated 2024 to building with AI.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
