<nav>
  <div class="nav__wrapper">
    <div class="nav__wrapper__leftCol">
      <a href="/" class="nav__title">
        <h3>
          Thomas<span>F.</span>Officer
        </h3>
      </a>
    </div>
    <div class="nav__wrapper__rightCol">
      <ul class="nav__links">
        <li>
          <a href="/">
            About
          </a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>