<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Portfolio | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="body__wrapper">
    {% include 'header.html' %}
    <main>
      <div class="main__wrapper">
        <ul class="blog-posts__list">
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/portfolio/netdocuments">NetDocuments</a>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/portfolio/afterpattern">Afterpattern</a>
            </div>
          </li>
          <li class="blog-posts__list-item">
            <div class="blog-post-snippet">
              <a class="blog-post-snippet__link" href="/portfolio/blueridgelabs">Community.lawyer</a>
            </div>
          </li>
        </ul>  
      </div>
    </main>
  </div>
</body>

</html>