<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Real Estate Investment Calculator | Thomas Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="assets/tfo-favicon.ico" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function saveInput(id) {
      var value = document.getElementById(id).value;
      localStorage.setItem(id, value);
    }

    function loadSavedInputs() {
      document.querySelectorAll('.calc input').forEach(input => {
        var savedValue = localStorage.getItem(input.id);
        if (savedValue) {
          input.value = savedValue;
        }
      });
      updateResults(); // Update results based on loaded inputs
    }

    function updateResults() {
      // Pull values from calculator
      var purchasePriceInput = document.getElementById('purchase-price');
      var purchasePrice = purchasePriceInput ? parseFloat(purchasePriceInput.value) || 0 : 0;

      var downPaymentPercentage = parseFloat(document.getElementById('downpayment-percentage').value) || 100;
      var loanTerm = parseFloat(document.getElementById('loan-term').value) || 0;
      var interestRate = parseFloat(document.getElementById('interest-rate').value) || 0;
      var monthlyInterestRate = interestRate / 12 / 100 || 0;
      var totalPayments = loanTerm * 12 || 0;
      var rehabCost = parseFloat(document.getElementById('rehab-cost').value) || 0;
      var transferTax = parseFloat(document.getElementById('transfer-tax').value) || 0;
      var closingCost = parseFloat(document.getElementById('closing-cost').value) || 0;
      var loanPayment = parseFloat(document.getElementById('loan-payment').value) || 0;
      var propertyTaxes = parseFloat(document.getElementById('property-taxes').value) || 0;
      var homeInsurance = parseFloat(document.getElementById('home-insurance').value) || 0;
      var repairsMaintenance = parseFloat(document.getElementById('repairs-maintenance').value) || 0;
      var vacancy = parseFloat(document.getElementById('vacancy').value) || 0;
      var capex = parseFloat(document.getElementById('capex').value) || 0;
      var mgtFees = parseFloat(document.getElementById('mgt-fees').value) || 0;
      var hoaDues = parseFloat(document.getElementById('hoa-dues').value) || 0; 
      var electricity = parseFloat(document.getElementById('electricity').value) || 0;
      var gas = parseFloat(document.getElementById('gas').value) || 0;
      var water = parseFloat(document.getElementById('water').value) || 0;
      var garbage = parseFloat(document.getElementById('garbage').value) || 0;
      var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
      var appreciationRate = parseFloat(document.getElementById('appreciation-rate').value) / 100;
      var years = 20;
      
      var buttonsEnabled = monthlyIncome > 0;
      document.getElementById('estimate-repairs-button').disabled = !buttonsEnabled;
      document.getElementById('estimate-vacancy-button').disabled = !buttonsEnabled;
      document.getElementById('estimate-capex-button').disabled = !buttonsEnabled;
      document.getElementById('estimate-mgtfees-button').disabled = !buttonsEnabled;

      function formatCurrency(value) {
        return new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD',
          maximumFractionDigits: 2
        }).format(value);
      }

      // Calculations
      var downPayment = purchasePrice * downPaymentPercentage / 100;
      var upfrontCost = rehabCost + downPayment + transferTax + closingCost || 0;
      var principal = purchasePrice - downPayment;
      var monthlyLoanPayment = (monthlyInterestRate * principal) / (1 - Math.pow(1 + monthlyInterestRate, - totalPayments)) || 0;
      var monthlyCost = monthlyLoanPayment + propertyTaxes + homeInsurance + repairsMaintenance + vacancy + capex + mgtFees + hoaDues + electricity + gas + water + garbage;
      var annualOperatingExpenses = monthlyCost * 12;
      var monthlyCashflow = monthlyIncome - monthlyCost;
      var annualCashflow = monthlyCashflow * 12;
      var NOI = annualCashflow - annualOperatingExpenses;
      var capRate = (NOI / purchasePrice) * 100 || 'N/A';
      if (!isNaN(NOI) && purchasePrice > 0) {
          capRate = (NOI / purchasePrice) * 100;
      }

      // Set results
      updateElementsByClass('upfront-cost', formatCurrency(upfrontCost));
      updateElementsByClass('monthly-cost', formatCurrency(monthlyCost));
      document.getElementById('loan-payment').innerText = formatCurrency(monthlyLoanPayment);
      document.getElementById('cashflow-monthly').innerText = formatCurrency(monthlyCashflow);
      document.getElementById('cashflow-annually').innerText = formatCurrency(annualCashflow);

      if (isNaN(appreciationRate)) {
          // If appreciation rate is not provided, set future value to empty or a placeholder
          document.getElementById('appreciation').innerText = 'N/A';
      } else {
          // Perform calculation if appreciation rate is provided
          var futureValue = purchasePrice * Math.pow(1 + appreciationRate, years) || 'N/A';
          document.getElementById('appreciation').innerText = formatCurrency(futureValue);
      }

      if (capRate !== 'N/A') {
          document.getElementById('cap-rate').innerText = capRate.toFixed(2) + '%';
      } else {
          document.getElementById('cap-rate').innerText = capRate;
      }

      var isDataSufficient = purchasePrice > 0 && monthlyIncome > 0;

      // Enable or disable the button based on isDataSufficient
      document.querySelectorAll('.assistant-button').forEach(button => {
          button.disabled = !isDataSufficient;
      });

      // Show or hide the insufficient data message
      var messageDiv = document.getElementById('insufficientDataMessage');
      messageDiv.style.display = isDataSufficient ? 'none' : 'block';
    }

    function updateElementsByClass(className, value) {
        var elements = document.querySelectorAll('.' + className);
        elements.forEach(function(element) {
            element.innerText = value;
        });
    }

    function estimateRepairs() {
        var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
        document.getElementById('repairs-maintenance').value = (monthlyIncome * 0.10).toFixed(2);
        saveInput('repairs-maintenance');
        updateResults();
    }
    function estimateVacancy() {
        var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
        document.getElementById('vacancy').value = (monthlyIncome * 0.05).toFixed(2);
        saveInput('vacancy');
        updateResults();
    }
    function estimateCapex() {
        var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
        document.getElementById('capex').value = (monthlyIncome * 0.10).toFixed(2);
        saveInput('capex');
        updateResults();
    }
    function estimateMgtfees() {
        var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
        document.getElementById('mgt-fees').value = (monthlyIncome * 0.08).toFixed(2);
        saveInput('mgt-fees');
        updateResults();
    }
  
    window.onload = function() {
        loadSavedInputs();
        updateResults();
        loadSavedAIResponse();
    };
    
  </script>
</head>
</head>

<body>
  <div class="calc-main">
    <div class="results">
      <nav class="calc-main__nav">
        <div class="calc-main__nav__wrapper">
          <div class="calc-main__nav__wrapper__leftCol">
            <a href="/" class="calc-main__nav__title">
              <h3>
                Thomas<span>F.</span>Officer
              </h3>
              <p>
                Software Designer & Developer
              </p>
            </a>
          </div>
          <div class="nav__wrapper__rightCol">
      
          </div>
        </div>
      </nav>
      <div class="results__title">
        <h1>
          Real Estate Investment Calculator
        </h1>
      </div>
      <div class="results__header-title">
        <h2>
          Key metrics
        </h2>
      </div>
      <div class="results__header-row">
        <div class="results__header-row__costCol">
          <h3>
            Upfront cost
          </h3>
          <p class="upfront-cost"></p>
        </div>
        <div class="results__header-row__cashflowCol">
          <h3>
            Cashflow
          </h3>
          <p style="padding-bottom: 4px;"><span id="cashflow-monthly"></span><span style="color: #788193;">/month</span></p>
          <p><span id="cashflow-annually"></span><span style="color: #788193;">/year</span></p>
        </div>
        <div class="results__header-row__investmentCol">
          <h3>
            Cap rate
          </h3>
          <p id="cap-rate">-</p>
        </div>
        <div class="results__header-row__investmentCol">
          <h3>
            Estimated value after 20 years
          </h3>
          <p id="appreciation"></p>
        </div>
      </div>
      <div style="padding-top: 1.333em;" class="results__header-title">
        <h2>
          AI Assistant
        </h2>
      </div>
      <div class="insufficientDataMessage" id="insufficientDataMessage">
        <p>
          Fill out more details about your investment project to use the AI assistant.
        </p>
      </div>
      <div class="results__actions">
        <button class="assistant-button" id="crowdfundingButton" onclick="sendMessageToChatbot()">
          Get investment crowdfunding advice 
          <div id="loadingSpinner" class="spinner" style="display: none;"></div>
        </button>
        <div id="aiResponse" class="results__actions__response"></div>
      </div>
    </div>
    <div class="calc">
      <div class="calc__main-row">
        <div class="calc__main-row__leftCol">
          <div class="calc__header">
            <h5>
              Upfront costs
            </h5>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="purchase-price">Purchase price</label> 
            </div>
            <div class="calc__row__middleCol">
              
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="purchase-price" oninput="updateResults(); saveInput('purchase-price')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="downpayment-percentage">Downpayment %</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="downpayment-percentage" oninput="updateResults(); saveInput('downpayment-percentage')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="loan-term">Loan term (years)</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="loan-term" oninput="updateResults(); saveInput('loan-term')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="interest-rate">Interest rate %</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="interest-rate" oninput="updateResults(); saveInput('interest-rate')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="rehab-cost">Rehab cost</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="rehab-cost" oninput="updateResults(); saveInput('rehab-cost')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="transfer-tax">Transfer tax</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="transfer-tax" oninput="updateResults(); saveInput('transfer-tax')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="closing-cost">Closing cost</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="closing-cost" oninput="updateResults(); saveInput('closing-cost')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="closing-cost">Total</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <p class="upfront-cost"></p>
            </div>
          </div>
        </div>
        <div class="calc__main-row__rightCol">
          <div class="calc__header">
            <h5>
              Income & Appreciation
            </h5>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="monthly-income">Monthly income</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="monthly-income" oninput="updateResults(); saveInput('monthly-income')">
            </div>
          </div>
          <div class="calc__row">
            <div class="calc__row__leftCol">
              <label for="appreciation-rate">Appreciation rate %</label> 
            </div>
            <div class="calc__row__middleCol">
            </div>
            <div class="calc__row__rightCol">
              <input type="number" id="appreciation-rate" oninput="updateResults(); saveInput('appreciation-rate')">
            </div>
          </div>
        </div>
      </div>
      <div class="calc__header">
        <h5>
          Monthly costs
        </h5>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="loan-payment">Loan payment</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <p id="loan-payment"></p>
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="property-taxes">Property taxes</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="property-taxes" oninput="updateResults(); saveInput('property-taxes')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="home-insurance">Home insurance</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="home-insurance" oninput="updateResults(); saveInput('home-insurance')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="repairs-maintenance">Repairs & maintenance</label> 
        </div>
        <div class="calc__row__middleCol">
          <button class="calc__estimate-button" id="estimate-repairs-button" onclick="estimateRepairs()" title="Estimates 10% of monthly income for repairs and maintenance.">Estimate</button>
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="repairs-maintenance" oninput="updateResults(); saveInput('repairs-maintenance')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="vacancy">Vacancy</label> 
        </div>
        <div class="calc__row__middleCol">
          <button class="calc__estimate-button" id="estimate-vacancy-button" onclick="estimateVacancy()" title="Estimates 5% of monthly income for potential vacancy costs.">Estimate</button>
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="vacancy" oninput="updateResults(); saveInput('vacancy')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="capex">Capital expenditures</label> 
        </div>
        <div class="calc__row__middleCol">
          <button class="calc__estimate-button" id="estimate-capex-button" onclick="estimateCapex()" title="Estimates 10% of monthly income for capital expenditures.">Estimate</button>
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="capex" oninput="updateResults(); saveInput('capex')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="mgt-fees">Management fees</label> 
        </div>
        <div class="calc__row__middleCol">
          <button class="calc__estimate-button" id="estimate-mgtfees-button" onclick="estimateMgtfees()" title="Estimates 8% of monthly income for management fees.">Estimate</button>
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="mgt-fees" oninput="updateResults(); saveInput('mgt-fees')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="hoa-dues">HOA Dues</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="hoa-dues" oninput="updateResults(); saveInput('hoa-dues')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="electricity">Electricity</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="electricity" oninput="updateResults(); saveInput('electricity')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="gas">Gas</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="gas" oninput="updateResults(); saveInput('gas')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="water">Water / Sewer</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="water" oninput="updateResults(); saveInput('water')">
        </div>
      </div>
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="garbage">Garbage</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <input type="number" id="garbage" oninput="updateResults(); saveInput('garbage')">
        </div>
      </div>   
      <div class="calc__row">
        <div class="calc__row__leftCol">
          <label for="closing-cost">Total</label> 
        </div>
        <div class="calc__row__middleCol">
        </div>
        <div class="calc__row__rightCol">
          <p class="monthly-cost"></p>
        </div>
      </div>   
    </div>
  </div>
  <script>
    function sendMessageToChatbot() {
      var purchasePriceInput = document.getElementById('purchase-price');
      var purchasePrice = purchasePriceInput ? parseFloat(purchasePriceInput.value) || 0 : 0;
      var downPaymentPercentage = parseFloat(document.getElementById('downpayment-percentage').value) || 100;
      var downPayment = purchasePrice * downPaymentPercentage / 100;
      var rehabCost = parseFloat(document.getElementById('rehab-cost').value) || 0;
      var transferTax = parseFloat(document.getElementById('transfer-tax').value) || 0;
      var closingCost = parseFloat(document.getElementById('closing-cost').value) || 0;
      var upfrontCost = rehabCost + downPayment + transferTax + closingCost
      var loanTerm = parseFloat(document.getElementById('loan-term').value) || 0;
      var totalPayments = loanTerm * 12 || 0;
      var monthlyIncome = parseFloat(document.getElementById('monthly-income').value) || 0;
      var mgtFees = parseFloat(document.getElementById('mgt-fees').value) || 0;
      var hoaDues = parseFloat(document.getElementById('hoa-dues').value) || 0; 
      var electricity = parseFloat(document.getElementById('electricity').value) || 0;
      var gas = parseFloat(document.getElementById('gas').value) || 0;
      var water = parseFloat(document.getElementById('water').value) || 0;
      var garbage = parseFloat(document.getElementById('garbage').value) || 0;
      var capex = parseFloat(document.getElementById('capex').value) || 0;
      var vacancy = parseFloat(document.getElementById('vacancy').value) || 0;
      var repairsMaintenance = parseFloat(document.getElementById('repairs-maintenance').value) || 0;
      var propertyTaxes = parseFloat(document.getElementById('property-taxes').value) || 0;
      var homeInsurance = parseFloat(document.getElementById('home-insurance').value) || 0;
      var principal = purchasePrice - downPayment;
      var interestRate = parseFloat(document.getElementById('interest-rate').value) || 0;
      var monthlyInterestRate = interestRate / 12 / 100 || 0;
      var monthlyLoanPayment = (monthlyInterestRate * principal) / (1 - Math.pow(1 + monthlyInterestRate, - totalPayments)) || 0;
      var monthlyCost = monthlyLoanPayment + propertyTaxes + homeInsurance + repairsMaintenance + vacancy + capex + mgtFees + hoaDues + electricity + gas + water + garbage;
      var monthlyCashflow = monthlyIncome - monthlyCost;

      var predefinedMessage = "I need your help doing some quick back-of-the-napkin math for my real estate investment project. The project has upfront cost of" + upfrontCost + ", and a monthly cost of " + monthlyCost + ". The project has an estimated cashflow of " + monthlyCashflow + ". \n\n Example response: Agent: Let's say you wanted to fund this project through investment crowdfunding. How much money do you need to raise? Let's take the upfront cost and add 6 months worth of expenses. That's $X. If you have 50 investors, the average investment size needs to be around $X. If you have 750 investors, the average investment size is around $X. With an estimated monthly income of $X, you could provide investors with a X rate of return. ";

      document.getElementById('loadingSpinner').style.display = 'inline-block';
      document.getElementById('crowdfundingButton').disabled = true;

      $.ajax({
        url: '/get_crowdfunding_breakdown',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ 'message': predefinedMessage }),
        success: function(response) {
          document.getElementById('loadingSpinner').style.display = 'none';
          document.getElementById('crowdfundingButton').disabled = false;

          document.getElementById('aiResponse').innerHTML = "AI Response: " + response.reply;
          localStorage.setItem('aiResponse', response.reply);
        },
        error: function(error) {
          document.getElementById('loadingSpinner').style.display = 'none';
          document.getElementById('crowdfundingButton').disabled = false;

          console.log(error);
          document.getElementById('aiResponse').innerHTML = "Error in getting response";
        }
      });
    }
  
    function loadSavedAIResponse() {
      var savedResponse = localStorage.getItem('aiResponse');
      if (savedResponse) {
        document.getElementById('aiResponse').innerHTML = "AI Response: " + savedResponse;
      }
    }

    // Call loadSavedAIResponse on page load
    window.addEventListener('load', loadSavedAIResponse);
    
  </script>
</body>
</html>