<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Afterpattern | Thomas F. Officer</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ url_for('static', filename='assets/tfo-favicon.ico') }}" type="image/x-icon">
</head>
<body>
  {% include 'navbar.html' %}

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>