<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thomas Officer</title>
</head>
  <body>
    <div class="showcase-header">
      <div class="showcase-header__wrapper">
        <div class="showcase-header__top-row">
          <a href="/" class="showcase-header__brand">
            <img src="{{ url_for('static', filename='assets/tfo-brand-dark.svg') }}" alt="TFO logo">
          </a>
          <h1>Thomas F Officer</h1>
        </div>
        <div class="showcase-header__bottom-row">
          <div class="nav__links">
            <li>
              <a href="https://www.linkedin.com/in/thomasofficer/" class="">Linkedin</a>
            </li>
            <li>
              <a href="https://github.com/TomaOfficer" class="">Github</a>
            </li>
            <li>
              <a href="https://replit.com/@ThomasOfficer" class="">Replit</a>
            </li>
            <li>
              <a href="https://x.com/TomaOfficer" class="">Twitter</a>
            </li>
          </div>
          <p class="showcase-header__label">
            Product Designer + Frontend Engineer
          </p>
        </div>
      </div>
    </div>
</body>
</html>
